fastapi
uvicorn
sqlalchemy
h11
pip
anyio
sniffio
asgiref
starlette
pydantic
requests
click
itsdangerous
Jinja2
setuptools
docutils
passlib
python-multipart
mangum
pytest
toml
wheel
cryptography
py
urllib3
six
certifi
jose
psycopg2